/* For Login Page */
body {
    margin: 0;
    background-color: burlywood;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button {
    cursor: pointer;
}
button:hover {
    background-color: cadetblue;
}
.login-page {
    display: flex;
}
#login-wallpaper {
    width: 100vw;
    height: 100vh;
}
#logo {
    width: 150px;
    height: 150px;
    padding: 25px;
    border-radius: 50%;
    margin-bottom: 50px;
}
.right-panel {
    position: absolute;
    background-color: burlywood;
    right: 0;
    width: 30%;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.right-panel input {
    width: 70%;
    margin-bottom: 10px;
    background: transparent;
    border: none;
    font-size: 16px;
    border-bottom: 2px solid black;
}
.clickable-button {
    margin: 5px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 25px;
    font-weight: bold;
}

/* For Main Page */


.main-navigator {
    margin: 15px;
    display: flex;
    justify-content: space-around;
}
#profile-button {
    border-radius: 50px;
    right: 0;
}
#search-bar{
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border-radius: 30px;
    background-color:darkgrey;
    border: 2px solid black;
}
#search-bar::placeholder {
    padding-left: 10px;
    color: #ffffffac;
    font-style: italic;
}
#food-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.food-item {
    border-radius: 20px;
    width: 350px;
    height: 200px;
    border: 2px solid black;
    background-color: rgb(196, 112, 3);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.food-item p{
    background-color: blue;

}
.food-item img {
    width: 350px;
    height: 200px;
    object-fit: cover;
    display: block;
  }

.food-item h3 {
    margin-top: 5px;
}

#filter-category {
    border-radius: 25px;
    margin: 5px;
    width: 20%;
}

/* For Food Item Page */

.food-item-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

#food-image {
    width: 100vw;
    height: 30vw;
    object-fit: cover;
    border-radius: 10px;
}

#food-title {
    margin-top: 3px;
    text-align: center;
    text-decoration: underline;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px; 
    border-radius: 250px; 

}

.foodDetails {
    border: 1px solid #ccc; 
    padding: 30px;  
    background-color: #cf0e0edc; 
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.foodDetails h2{
   text-decoration: underline;
}

#food-title + h2 {
    text-decoration: underline;
}

#food-description + h2 {
    text-decoration: underline;
}

#food-description {
    border: 1px solid #ccc; 
    padding: 10px; 
    margin-bottom: 20px; 
    background-color: #f3df00e6; 
    border-radius: 5px; 
    flex-grow: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: und;
}

#food-ingredient + h2 {
    text-decoration: underline;
}

#food-ingredient {
    border: 1px solid #ccc; 
    padding: 10px; 
    margin-bottom: 20px; 
    background-color: #f3df00e6; 
    border-radius: 5px; 
    flex-grow: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display:inline-block;
    font-size: 20px;
    font-weight: bolder;

}

#food-rating {
    text-decoration: double;
    font-size: 50px;
    text-decoration: underline;
}

#cartButton {
    margin: 5px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 25px;
    font-weight: bold;
    text-align: center;
    display: block; 
    margin: 0 auto; 
}