/* For Login Page */
body {
    margin: 0;
    background-color: burlywood;
    font-family: "";
}
button {
    cursor: pointer;
}
button:hover {
    background-color: cadetblue;
}
.login-page {
    display: flex;
}
#login-wallpaper {
    width: 100vw;
    height: 100vh;
}
#logo {
    width: 150px;
    height: 150px;
    padding: 25px;
    border-radius: 50%;
    margin-bottom: 50px;
}
.right-panel {
    position: absolute;
    background-color: burlywood;
    right: 0;
    width: 30%;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.right-panel input {
    width: 70%;
    margin-bottom: 10px;
    background: transparent;
    border: none;
    font-size: 16px;
    border-bottom: 2px solid black;
}
.clickable-button {
    margin: 5px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 25px;
    font-weight: bold;
}

/* For Main Page */

.main-navigator {
    margin: 15px;
    display: flex;
    justify-content: space-around;
}
#profile-button {
    border-radius: 50px;
    right: 0;
}
#search-bar{
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border-radius: 30px;
    background-color:darkgrey;
    border: 2px solid black;
}
#search-bar::placeholder {
    padding-left: 10px;
    color: #ffffffac;
    font-style: italic;
}
.recipe-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.recipe-item {
    border-radius: 20px;
    width: 350px;
    height: 200px;
    border: 2px solid black;
    background-color: rgb(196, 112, 3);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.recipe-item p{
    background-color: blue;

}
.recipe-item img {
    width: 350px;
    height: 200px;
    object-fit: cover;
    display: block;
  }

.recipe-item h3 {
    margin-top: 5px;
}

.recipe-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.recipe-button button{
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    position: relative;
}

/* For Food Item Page */

.food-item-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

#food-image {
    width: 90vw;
}